{% extends "base.html" %} {% block content %}
<main id="member">
    <h1 id="title" class="p-name dated">{{ page.title }}</h1>
    <p class="big center">Proud member of the exclusive 250KB&nbsp;Club!</p>
    <p>
        <time
            class="dt-published"
            datetime="{{ page.date }}"
            pubdate=""
            itemprop="datePublished"
            content="{{ page.date }}"
        >
            Added: {{ page.date }}
        </time>
        |
        <time
            class="dt-updated"
            datetime="{{ page.updated }}"
            pubdate=""
            itemprop="dateUpdated"
            content="{{ page.updated }}"
        >
            Last updated: {{ page.updated }}
        </time>
    </p>
    <p class="e-content">
        <a
            rel="noopener nofollow"
            href="{{ page.extra.source }}"
            target="_blank"
            >{{ page.title }}</a
        >
        is a member of the exclusive 250KB Club. The page weighs
        <strong>
            {% if page.extra.size == 0 %} under 1kb {% else %} only {{
            page.extra.size }}kb {% endif %}
        </strong>
        and has a content-to-bloat ratio of
        <strong>{{ page.extra.ratio }}%</strong>.
    </p>
    <p>
        The owner of this page is now entitled to add one of those shiny badges
        to their page. But, even though I tried to make them as small as
        possible, a badge will add some kilobytes to the page weight. A code
        snipped can be found by clicking on the respective badge.
    </p>
    <p>
        The badges can either be downloaded and served as part of the website or
        linked directly from 250KB.club. BUT the latter gives
        the 250KB.club server a log entry for
        <i>every visitor of <strong>your</strong> page</i>. I'm not interested
        in those logs but you still have to trust my word. So decide for
        yourself.
    </p>

    <div class="badges">
        <details>
            <summary>
                <img alt="simple badge, dark" src="/simple_badge_dark.png" />
                (1.1kB)
            </summary>
            <pre><code>
    &lt;a title="250KB Club page" href="https://250kb.club/{{ page.slug }}"&gt;
      &lt;img
        alt="badge: proud member of the 250KB Club"
        src="https://250kb.club/simple_badge_dark.png"
      /&gt;
    &lt;/a&gt;
      </code></pre>
        </details>

        <details>
            <summary>
                <img
                    alt="simple badge, bright"
                    src="/simple_badge_bright.png"
                />
                (1.0kB)
            </summary>
            <pre><code>
    &lt;a title="250KB Club page" href="https://250kb.club/{{ page.slug }}"&gt;
      &lt;img
        alt="badge: proud member of the 250KB Club"
        src="https://250kb.club/simple_badge_bright.png"
      /&gt;
    &lt;/a&gt;
      </code></pre>
        </details>

        <details>
            <summary>
                <img alt="color badge, bright" src="/color_badge_bright.png" />
                (1.4kB)
            </summary>
            <pre><code>
    &lt;a title="250KB Club page" href="https://250kb.club/{{ page.slug }}"&gt;
      &lt;img
        alt="badge: proud member of the 250KB Club"
        src="https://250kb.club/color_badge_bright.png"
      /&gt;
    &lt;/a&gt;
      </code></pre>
        </details>

        <details>
            <summary>
                <img alt="color badge, dark" src="/color_badge_dark.png" />
                (1.7kB)
            </summary>
            <pre><code>
    &lt;a title="250KB Club page" href="https://250kb.club/{{ page.slug }}"&gt;
      &lt;img
        alt="badge: proud member of the 250KB Club"
        src="https://250kb.club/color_badge_dark.png"
      /&gt;
    &lt;/a&gt;
      </code></pre>
        </details>

        <details>
            <summary>
                [[ Proud Member of the 250kB Club ]] (~120 bytes)
            </summary>
            <pre><code>
    &lt;a title="250KB Club page" href="https://250kb.club/{{ page.slug }}"&gt;
      [[ Proud Member of the 250kB Club ]]
    &lt;/a&gt;
            </code></pre>
        </details>

        <details>
            <summary>
              <pre> ___ ___  __  _   ___    ___ _      _
|_  ) __|/  \| |_| _ )  / __| |_  _| |__
 / /|__ \ () | / / _ \ | (__| | || | '_ \
/___|___/\__/|_\_\___/  \___|_|\_,_|_.__/ (~260 bytes)</pre>
            </summary>
            <pre><code>
    &lt;a title="250KB Club page" href="https://250kb.club/{{ page.slug }}"&gt;
        &lt;pre&gt;
 ___ ___  __  _   ___    ___ _      _
|_  ) __|/  \| |_| _ )  / __| |_  _| |__
 / /|__ \ () | / / _ \ | (__| | || | '_ \
/___|___/\__/|_\_\___/  \___|_|\_,_|_.__/
        &lt;/pre&gt;
    &lt;/a&gt;
            </code></pre>
        </details>

        <hr />
        Thanks to <a href="https://www.5snb.club/" rel="noopener nofollow">5225225</a>,
        I can now offer you some good looking 88x31 pixel buttons as well!
    
        <details>
            <summary>
                <img alt="88x31 badge by 5225225, dark" src="/88x31_dark.png" />
                (0.25kB)
            </summary>
            <pre><code>
    &lt;a title="250KB Club page" href="https://250kb.club/{{ page.slug }}"&gt;
      &lt;img
        alt="badge: proud member of the 250KB Club"
        src="https://250kb.club/88x31_dark.png"
      /&gt;
    &lt;/a&gt;
      </code></pre>
        </details>

        <details>
            <summary>
                <img alt="88x31 badge by 5225225, bright" src="/88x31_bright.png" />
                (0.26kB)
            </summary>
            <pre><code>
    &lt;a title="250KB Club page" href="https://250kb.club/{{ page.slug }}"&gt;
      &lt;img
        alt="badge: proud member of the 250KB Club"
        src="https://250kb.club/88x31_bright.png"
      /&gt;
    &lt;/a&gt;
      </code></pre>
        </details>

      <p>
        Please check out the dedicated page for more formats and a fancy option:<br/>
        <a href="https://www.5snb.club/posts/2025/250kb-club-buttons/" rel="noopener nofollow">
          5snb.club/posts/2025/250kb-club-buttons
        </a>.
      </p>

        <p>What? You actually liked the crappy buttons I made? Okay, you do you:</p>

        <details>
            <summary>
                <img alt="88x31 badge by 5225225, dark" src="/88x31_dark.gif" />
                (0.6kB)
            </summary>
            <pre><code>
    &lt;a title="250KB Club page" href="https://250kb.club/{{ page.slug }}"&gt;
      &lt;img
        alt="badge: proud member of the 250KB Club"
        src="https://250kb.club/88x31_dark.gif"
      /&gt;
    &lt;/a&gt;
      </code></pre>
        </details>

        <details>
            <summary>
                <img alt="88x31 badge by 5225225, bright" src="/88x31_bright.gif" />
                (0.6kB)
            </summary>
            <pre><code>
    &lt;a title="250KB Club page" href="https://250kb.club/{{ page.slug }}"&gt;
      &lt;img
        alt="badge: proud member of the 250KB Club"
        src="https://250kb.club/88x31_bright.gif"
      /&gt;
    &lt;/a&gt;
      </code></pre>
        </details>


      

    </div>

    <p><a href="/">back to page list</a></p>

</main>
{% endblock content %}
